<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="https://www.nicepng.com/png/full/340-3408253_premier-league-transparent-png-barclays-premier-league-logo.png" width="40" height="40"> Admin Controls</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/">Go back to Home</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
<h1>this is admin home</h1>
<h2></h2>

    <ul class="lead mt-4">
        <li><a href="/admin/create_fixture">Create Fixture</a></li>
        <li><a href="/admin/update_fixture">Update Fixture</a></li>
        <li><a href="/admin/insert_player">Insert Player</a></li>
        <li><a href="/admin/update_price">Update Player Price</a></li>
    </ul>
</div>