<% console.log(players) %>


<div class="fixedContainer">
    <a aria-label="Premier League Home Page on logo link"
       class="u-hide-tab logoContainer"
       href="https://www.premierleague.com/home">

        <div class="logoBackground"></div>
        <span class="mobile"><img alt="Premier League Logo"
                                  src="https://www.premierleague.com/resources/prod/52355ab-3790/i/elements/premier-league-logo-header-mob.svg">
        </span></a>
    <div class="navContainer" data-script="pl_global-header">
        <section class="navBar" id="mainNav" role="menubar">
            <div aria-expanded="false" class="menuBtn" id="hamburgerToggle" role="button">
                <div class="menuBtnContainer">
                    <div>

                    </div>
                    <div>

                    </div>
                    <div>

                    </div>
                </div>
            </div>
            <nav class="mainNav">
                <ul class="pageLinks" role="menu">
                    <li aria-haspopup="true" class="premierleague" role="menuitem"
                        tabindex="0">
                        <div class="navLink" role="button" tabindex="index">
                            <span class="navText">Premier League</span>
                            <span class="icn chevron-dropdown"></span>
                        </div>
                        <div aria-hidden="true" class="dropdown">
                            <ul role="menu"><li tabindex="-1">
                                    <a href="https://www.premierleague.com/" role="menuitem" tabindex="0">Home</a>
                                </li>
                                <li tabindex="-1">
                                    <a href="https://www.premierleague.com/fixtures" role="menuitem" tabindex="0">Fixtures</a>
                                </li><li tabindex="-1"><a href="https://www.premierleague.com/results" role="menuitem" tabindex="0">Results</a>
                                </li><li tabindex="-1"><a href="https://www.premierleague.com/tables" role="menuitem" tabindex="0">Tables</a></li>
                                <li tabindex="-1"><a href="https://www.premierleague.com/hall-of-fame" role="menuitem" tabindex="0">Hall of Fame</a></li>
                                <li tabindex="-1"><a href="https://www.premierleague.com/transfers" role="menuitem" tabindex="0">Transfers</a></li>
                                <li tabindex="-1"><a href="https://www.premierleague.com/broadcast-schedules" role="menuitem" tabindex="0">Broadcast</a></li>
                                <li tabindex="-1"><a href="https://www.premierleague.com/tickets" role="menuitem" tabindex="0">Tickets</a></li>
                                <li tabindex="-1"><a href="https://www.premierleague.com/clubs" role="menuitem" tabindex="0">Clubs</a></li>
                                <li tabindex="-1"><a href="https://www.premierleague.com/players" role="menuitem" tabindex="0">Players</a></li>
                                <li tabindex="-1"><a href="https://www.premierleague.com/managers" role="menuitem" tabindex="0">Managers</a></li>
                                <li tabindex="-1"><a href="https://www.premierleague.com/news" role="menuitem" tabindex="0">News</a></li>
                                <li tabindex="-1"><a href="https://www.premierleague.com/social" role="menuitem" tabindex="0">Social</a></li>
                                <li tabindex="-1"><a href="https://www.premierleague.com/youth" role="menuitem" tabindex="0">Youth</a></li>
                                <li tabindex="-1"><a href="https://www.premierleague.com/safeguarding" role="menuitem" tabindex="0">Safeguarding</a></li>
                                <li tabindex="-1"><a href="https://www.premierleague.com/history" role="menuitem" tabindex="0">History</a></li>
                                <li tabindex="-1"><a href="https://www.premierleague.com/referees/overview" role="menuitem" tabindex="0">Referees</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="fantasy" role="menuitem">
                        <div class="navLink active" role="button" tabindex="index">
                            <span class="navText">Fantasy</span>
                            <span class="icn chevron-dropdown"></span>
                        </div>
                        <div aria-hidden="true" class="dropdown"><ul role="menu">
                                <li tabindex="-1"><a href="https://www.premierleague.com/fantasy" role="menuitem" tabindex="0">Fantasy</a></li>
                                <li tabindex="-1"><a href="https://www.premierleague.com/draft" role="menuitem" tabindex="0">Fantasy Draft</a></li>
                            </ul>
                        </div>
                    </li>
<!--                   <span class="icn chevron-dropdown"></span></div><div aria-hidden="true" class="dropdown dropdownMobile"><ul role="menu"><li tabindex="-1"><a href="https://www.premierleague.com/video" role="menuitem" tabindex="0">Dashboard</a></li><li tabindex="-1"><a href="https://www.premierleague.com/video/fantasy" role="menuitem" tabindex="0">Fantasy</a></li><li tabindex="-1"><a href="https://www.premierleague.com/video/all" role="menuitem" tabindex="0">All Videos</a></li></ul></div></li><li class="communities" role="menuitem" tabindex="0"><div class="navLink" role="button" tabindex="index"><span class="navText">Communities</span> <span class="icn chevron-dropdown"></span></div><div aria-hidden="true" class="dropdown"><ul role="menu"><li tabindex="-1"><a href="https://www.premierleague.com/communities" role="menuitem" tabindex="0">Latest</a></li><li tabindex="-1"><a href="https://www.premierleague.com/communities/strategy" role="menuitem" tabindex="0">Strategy</a></li><li tabindex="-1"><a href="https://www.premierleague.com/communities/programmes" role="menuitem" tabindex="0">Programmes</a></li><li tabindex="-1"><a href="https://www.premierleague.com/communities/facilities" role="menuitem" tabindex="0">Facilities</a></li><li tabindex="-1"><a href="https://www.premierleague.com/communities/plcf" role="menuitem" tabindex="0">PL Charitable Fund</a></li><li tabindex="-1"><a href="https://www.premierleague.com/communities/supporting-the-game" role="menuitem" tabindex="0">Supporting the Game</a></li></ul></div></li><li class="show-ms noroomforracism noDrop" role="menuitem"><a class="navLink" data-link-index="24" href="https://www.premierleague.com/NoRoomForRacism" role="menuitem">No Room For Racism</a><div class="navLink" data-nochildrenlink="/NoRoomForRacism" role="button" tabindex="index"><span class="navText">No Room For Racism</span></div><div aria-hidden="true" class="dropdown"></div></li><li aria-haspopup="true" class="more" role="menuitem" tabindex="0"><div class="navLink" role="button">More<span class="icn chevron-dropdown"></span></div><div aria-hidden="true" class="dropdown"><ul role="menu"><li><a href="https://www.premierleague.com/stats" role="menuitem">Stats</a></li><li><a href="https://www.premierleague.com/stay-well" role="menuitem">Stay Well</a></li><li><a href="https://www.premierleague.com/coronavirus" role="menuitem">We Are One Team</a></li><li><a href="https://www.premierleague.com/RainbowLaces" role="menuitem">Rainbow Laces</a></li>-->
                <li>
                    <a href="https://www.premierleague.com/king-of-the-match" role="menuitem">King of the Match</a>
                </li>
                    <li><a href="https://www.premierleague.com/transfers" role="menuitem">Transfers</a></li>
                    <li><a href="https://www.premierleague.com/VAR" role="menuitem">VAR</a></li>
                    <li><a href="https://www.premierleague.com/photos" role="menuitem">Photos</a></li>
                    <li><a href="https://www.premierleague.com/partners" role="menuitem">Partners</a></li>
                    <li><a href="https://www.premierleague.com/epl" role="menuitem">ePremier League</a></li>
                    <li><a href="https://www.premierleague.com/about" role="menuitem">About</a></li>
                    <li><a href="https://www.premierleague.com/season-review" role="menuitem">Season Review</a></li>
                    <li><a href="https://www.premierleague.com/nike-ball-hub" role="menuitem">Nike Ball Hub</a></li>
                    <li><a href="https://www.premierleague.com/contact" role="menuitem">Contact Us</a></li>
                    <li><a href="https://www.premierleague.com/poppy" role="menuitem">Poppy</a></li>
                    <li><a href="https://www.premierleague.com/asia-trophy" role="menuitem">Asia Trophy</a></li>
                    <li><a href="https://www.premierleague.com/pl-live" role="menuitem">PL Live</a></li>
                    <li><a href="https://www.premierleague.com/publications" role="menuitem">Publications</a></li>
                    <li><a href="https://www.premierleague.com/legal" role="menuitem">Legal</a></li>
                    <li><a href="https://www.premierleague.com/hall-of-fame" role="menuitem">Hall of Fame</a></li>
                </ul>
            </nav>
        </section>
    </div>
</div>

<!--    </li><li aria-haspopup="true" class="clubs"><div class="navLink clubListMobileButton" role="button">Clubs<span class="icn external-w"><span class="visuallyHidden">External Link</span></span></div><div aria-hidden="true" class="dropdown" role="menu"></div></li></ul></nav><a class="noroomforracism hide-ms navLink navOption" href="https://www.premierleague.com/NoRoomForRacism" role="button" tabindex="0"><div class="icn user-w show-m"></div><span class="featuredLinkTitle">No Room For Racism</span> </a><span class="mobile-logo"><a aria-label="Premier League Home Page on logo link" class="u-show-tab" href="https://www.premierleague.com/home"><i class="icn pl-logo-mobile-menu"></i></a></span></section></div><nav class="subNav" role="menubar"><ul><li><a class="fpl&#45;&#45;fantasy active" data-link-index="0" href="https://www.premierleague.com/fantasy" role="menuitem">Fantasy</a></li><li><a class="fpl&#45;&#45;draft" data-link-index="1" href="https://www.premierleague.com/draft" role="menuitem">Fantasy Draft</a></li></ul></nav></div>-->
<div class="container-sm">
    <% for(let i = 0;i < players.length;i++){ %>
        <div class="shadow card m-2 p-3">
            <h1><%=players[i].FIRST_NAME%> </h1>
            <a class="btn btn-secondary" href=<%="/player/"+players[i].P_ID%> >View Details</a>
        </div>
    <% } %>
</div>
