<div class="container">
    <a class="btn btn-primary" href="/">Return to Home</a>
    <div class="card shadow m-2 p-2">
        <b>First Name: <%=player.FIRST_NAME%></b>
        <b>Last Name: <%=player.LAST_NAME%></b>
        <b>Position: <%=player.POSITION%></b>
        <img src="/images/img.png" width="500px"/>
    </div>
</div>

