<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="https://www.nicepng.com/png/full/340-3408253_premier-league-transparent-png-barclays-premier-league-logo.png" width="40" height="40"> Fantasy Premier League</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/auth/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">

    <h1 class="text-center mb-3"><u>User Home</u></h1>

<!--    <h1 class="text-center mb-3"><i><</i></h1>-->
    <h3 class="text-center mb-3">Manager: <i><%= username%></i></h3>
    <p align="center">Total points now: <i><%= points_till_now%></i></p>


    <p class="lead mt-4"><a href="/user/view">View Team</a>

    <p class="lead mt-4"><a href="/user/edit">Edit Team</a>

    <p class="lead mt-4"><a href="/user/edit_team_name">Edit Team name</a>


</div>