<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="https://www.nicepng.com/png/full/340-3408253_premier-league-transparent-png-barclays-premier-league-logo.png" width="40" height="40"> Fantasy Premier League</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/auth/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<h1>this is user home</h1>
<h2><%= username %> </h2>

<p class="lead mt-4"><a href="/user/user_team">View Team</a>

<p class="lead mt-4"><a href="/user/edit_team">Edit Team</a>
