<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <div class="container">


<!--                <h1 class="text-center mb-3">Team name: </h1>-->
                <h3 class="text-center mb-3">Manager:<%=username%></h3>
                <form action="/user/view" method="POST">
                    <div class="form-group">
                        <label for="kickoff_time">
                            Kickoff time
                        </label>
                        <input
                                type="datetime-local"
                                id="kickoff_time"
                                name="date"
                                class="form-control"
                                placeholder="Enter date to get team of the gameweek"
                        />
                    </div>
                    <div class="pull-right">
                        <button class="btn-info btn">Create Fixture</button>
                    </div>
                </form>


                <% if (typeof (player_list) != 'undefined') { %>
                <ul class="lead mt-4">
                    <li><a href="/player/<%p11.ID%>"><%=p11.FIRST_NAME%> <%=p11.LAST_NAME%></a></li>

                </ul>
<%}%>

            </div>

        </div>
    </div>
</div>